#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    behaviors {
        // Wir definieren ein "Hold-Tap" namens 'ht_bt', das zwei Parameter erwartet
        ht_bt: ht_bt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>; // Wichtig: 2 Zellen für die zwei Befehle
            tapping-term-ms = <5000>; 
            flavor = "tap-preferred";
            bindings = <&bt>, <&kp>; // Hier sagen wir nur: Ein BT-Befehl und ein Key-Press
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Hier übergeben wir BT_CLR (für Hold) und S (für Tap)
                &ht_bt BT_CLR S  &kp R          &kp F5
                &kp BSPC         &kp G          &kp ENTER
                &none            &mkp LCLK      &kp F11
                &kp N1           &kp N2         &kp N3
            >;
        };
    };
};
