#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    // 1. Wir definieren Makros, um die Parameter zu "verstecken"
    macros {
        bt_clr_mac: bt_clr_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_CLR>;
        };
        s_key_mac: s_key_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S>;
        };
    };

    behaviors {
        // 2. Das Hold-Tap nutzt jetzt die Makros (0 Zellen nötig)
        s_bt_clr: s_bt_clr {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <0>;
            tapping-term-ms = <5000>; 
            flavor = "tap-preferred";
            bindings = <&bt_clr_mac>, <&s_key_mac>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &s_bt_clr      &kp R          &kp F5
                &kp BSPC       &kp G          &kp ENTER
                &none          &mkp LCLK      &kp F11
                &kp N1         &kp N2         &kp N3
            >;
        };
    };
};
